*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation{
    background-color: #515E7B;
    width: 100%;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation_bar{
    width: 704px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search_inp{
    margin-left: 300px;
    font-size: 17px;
    color: aliceblue;
    width: 228px;
    height: 46px;
    border-radius: 30px;
    background-color: #636E88;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.search_inp input{
    width: 190px;
    height: 100%;
    color: #fff;
    outline: none;
    border: none;
    background-color: #636E88;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.collections{
    display: flex;
    align-items: center;
}
.collection{
    margin: 0px 22px;
    list-style-type: none;
}
.collection a{
    text-decoration: none;

}
